@charset "utf-8";

/* Reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}

/* 영어 폰트 */
.ny {font-family: 'NewYork', sans-serif;}

/* layout */
body {font-family: 'Noto Sans KR', sans-serif;}
.wrap {width: 100%; position: relative; margin: 0 auto; overflow: hidden; color: #212121;}


/* animation 공통 */
@keyframes titAni {
  0%{opacity: 0;}
  30%{opacity: 0; transform: translate3d(0,80px,0)skewY(30deg);  transform-origin: bottom left;}
}

@keyframes left {
  0% {opacity: 0;}
  30% {opacity: 0; transform: translateX(-200px);}
}

@keyframes right {
  0% {opacity: 0;}
  30% {opacity: 0; transform: translateX(200px);}
}

@keyframes slide-up {
  0% {opacity: 0;}
  30% {opacity: 0; transform: translateY(170px);}
}

@keyframes grow {
  0% {background-size: 300%; background-position: center;}
  100% {background-size: 100%;}
}

@keyframes spin {
  0% {transform: translate(0,0) rotate(0deg);}
  100% {transform: translate(0,0) rotate(360deg);}
}

@keyframes spinMore {
  0% {transform: translate(-50%,-50%) rotate(0deg);}
  100% {transform: translate(-50%,-50%) rotate(360deg);}
}

/* header */
header {width: 100%; position: fixed; left: 0; top: 0; z-index: 100; transition: all 0.4s; color: #eb3c17; padding: 30px 0;}
header .inner {width: 95%; margin: 0 auto; overflow: hidden; transition: all 0.4s; line-height: 1; font-size: 28px; font-weight: bold;}
header .inner .logo {text-align: left; float: left;}
header .inner .gnb {float: right;}

/* section.visual */
section.visual {width: 100%; height: 100vh; margin: 0 auto; background: url(../img/workbg.jpg) no-repeat center/cover; background-attachment: fixed; margin: 0 auto; transition: all 0.4s;}
section.visual p {line-height: 1.1; color: #fff7eb; font-size: 220px; text-align: center;}
section.visual p:nth-child(1) {padding: 26vh 25vw 0 0;}
section.visual p:nth-child(2) {margin-left: 29vw;}

/* visual.motion */
.visual.motion {animation-name: grow ; animation-duration: 1.3s;}
.visual.motion p:nth-child(1) {animation-name: titAni ; animation-duration: 0.8s;}
.visual.motion p:nth-child(2) {animation-name: titAni ; animation-duration: 1.2s;}

/* section.pub */
section.pub {width: 100%; height: 75vh; margin: 0 auto; background: #fff}
section.pub .text {padding: 27vh 0 0 10vw; box-sizing: border-box;}
section.pub p {font-size: 130px; line-height: 1.4;}
section.pub p:nth-child(1) {font-size: 24px;}
section.pub p:nth-child(3) {font-size: 15px;}

/* pub.motion */
.pub .text.motion p{animation-name: right; animation-duration: 2s;}

/* section.clone */
section.clone .title {width: 100%; height: 100vh; font-size: 190px; line-height: 1; text-align: center; padding-top: 30vh; box-sizing: border-box;}
section.clone .workList {display: flex; justify-content: space-between; flex-wrap: wrap; width: 70%; margin: 0 auto;}
section.clone .workList li {width: 45%; margin-top: 40vh;}
section.clone .workList li:nth-child(2n) {margin-top: 0; text-align: right;}
section.clone .workList li:nth-child(2n) p {text-align: right;}
section.clone .workList li a {display: block; position: relative;}
section.clone .workList li a .imgBox img {width: 100%; transition: all 0,5s;}
section.clone .workList li a .textBox p {font-size: 30px; margin: 20px 0 5px; color: #fff7eb; text-align: left; padding-top: 1vh;}
section.clone .workList li:nth-child(2n) a .textBox p {text-align: right;}

/* section.clone .workList 호버효과 */
section.clone .workList li a .imgBox {position: relative;}
section.clone .workList li a .imgBox:before {content: ''; width: 160px; height: 160px; border-radius: 100%; border: 1px solid #fff7eb; background: url(../img/readMore.png) no-repeat center/ 30px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%) rotate(45deg); z-index: 1; transition: .3s; opacity: 0;}
section.clone .workList li a .imgBox:after {content: ''; width: 0; height: 0; border-radius: 100%; background: #fff7eb url(../img/rotation3.png) no-repeat center/160px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 1; animation-name: spinMore; animation-duration: 10s; animation-iteration-count: infinite; animation-timing-function: linear; transition: .4s;}

@keyframes spinMore {
    0% {transform: translate(-50%,-50%) rotate(0deg);}
    100% {transform: translate(-50%,-50%) rotate(360deg);}
}

section.clone .workList li a:hover .imgBox img {filter: brightness(40%); transition: .3s;}
section.clone .workList li a:hover .imgBox:before {opacity: 1; z-index: 2;}
section.clone .workList li a:hover .imgBox:after {width: 160px; height: 160px;}

/* section.ncs */
section.ncs {width: 100%; height: 195vh; margin: 50vh auto 0; background: #fff7eb}
section.ncs .text {padding: 30vh 10vw 30vh 0; box-sizing: border-box; text-align: right; color: #212121;}
section.ncs .text p:nth-child(1) {font-size: 180px; line-height: 1.2;}
section.ncs .text p:nth-child(2) {font-size: 16px; line-height: 1.8; letter-spacing: -1px;}

/* ncs motion */
.ncs .text.motion p:nth-child(1) {animation-name: left; animation-duration: 1s;}
.ncs .text.motion p:nth-child(2) {animation-name: left; animation-duration: 1.2s;}

/* ncsList */
.ncsList {width: 100%; height: 150vh; background: url(../img/card2.jpg) no-repeat center/cover; color: #fff;}
.ncsList .mySwiper {width: 100%; padding-top: 35vh; position: relative; overflow: hidden; z-index: 1;}
.ncsList .mySwiper .swiper-slide {transform: scale(0.8); transition: all 0.5s;}
.ncsList .mySwiper .swiper-slide a {display: block;}
.ncsList .mySwiper .swiper-slide a:hover {transform: scale(1.1); transition: all 0.4s;}
.ncsList .mySwiper .swiper-slide .swiper-wrapper {margin-top: 35vh;}
.ncsList .mySwiper .swiper-slide img {width: 100%;}
.ncsList .swiper-slide.swiper-slide-active {transform: scale(1);}
.swiper-button-prev {position: absolute; top: 75%; left: 30.5%; color: #fff;}
.swiper-button-next {position: absolute; top: 75%; right: 30.5%; color: #fff;}
.swiper-button-prev:hover {transform: scale(1.2); transition: all 0.4s;}
.swiper-button-next:hover {transform: scale(1.2); transition: all 0.4s;}


/* topBtn */
.topBtn {position: fixed; bottom: 40px; right: 50px; width: 45px; height: 45px; border-radius: 50%; background: #eb3c17; z-index: 100;}
.topBtn img{width: 19px; position: absolute; top: 14px; right: 13px;}

/* animated-title */
.animated-title {width: 100%; max-width:100%; height: 15vh; font-size:80px; position: relative; overflow-x: hidden; overflow-y: hidden; background: #212121;}
.animated-title .track {position: absolute; white-space: nowrap; animation: marquee 40s linear infinite; color: #fff7eb;}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* footer.contact */
footer.contact {width: 100%; background: #212121; color: #fff7eb;}
footer.contact .inner {max-width: 1080px; margin: 0 auto; display: flex; justify-content: space-between; padding: 35vh 0;}
footer.contact .inner .left p {font-size: 150px; line-height: 1;}
footer.contact .inner .bottom {display: flex; justify-content: space-between;}
footer.contact .inner .left .sub {font-size: 16px; margin: 2vh 0 0 3vw;}
footer.contact .inner .right {font-size: 30px; line-height: 1.6; padding-top: 6vh;}
footer.contact .inner .right span {font-size: 20px; color: #eb3c17;}

/* footer motion */
.contact .inner .left.motion .tit1 {animation-name: titAni ; animation-duration: 0.8s;}
.contact .inner .left.motion .tit2 {animation-name: titAni ; animation-duration: 1.0s;}
.contact .inner .left.motion .sub {animation-name: slide-up ; animation-duration: 1.1s;}
.contact .inner .right.motion {animation-name: slide-up; animation-duration: 1s;}

/* menuWrap */
.menuWrap {width: 100%; height: 100vh; position: fixed; top: 0; right: 0; z-index: 100; background: #fff7eb;}
.menuWrap .tit {color: #212121; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 120px; text-align: center; letter-spacing: -1px;}
.menuWrap .tit li a {display: inline-block; position: relative; margin-bottom: 30px; transition: all 0.3s;}
.menuWrap .tit li a:hover, .menuWrap .tit li a:focus {transform: translateX(30px); color: #eb3c17;}
.menuWrap .tit li a:after {content: ''; position: absolute; width: 0%; height: 2px; background: #eb3c17; bottom: -5px; left: 0; transition: all 0.3s;}
.menuWrap .tit li a:hover:after, .menuOpen .menuWrap .tit li a:focus:after {width: 100%;}
.menuWrap .close:nth-child(1) {position: absolute; top: 50%; transform: translateY(-50%); right: 30px; transition: all 0.5s;}
.menuWrap .close:nth-child(2) {position: absolute; right: 45px; top: 30px; font-size: 28px; font-weight: bold; color: #eb3c17; line-height: 1; letter-spacing: 1.2px; transition: all 0.5s;}
/* 배경해시태그 애니메이션 */
.menuWrap.on:before {content: ''; width: 20vw; height: 20vw; background: url(../img/rotation_2.png) no-repeat center/20vw; position: absolute; top: -25%; left: 15%; z-index: 1;animation-name: spin; animation-duration: 20s; animation-iteration-count: infinite; animation-timing-function: linear; transition: .4s;}

/* menuWrap 열기 */
.menuWrap {width: 0; transition: 0s; overflow: hidden; transform: skewY(40deg); opacity: 0;}
.menuWrap.on {width: 100%; right: 0; transform: skewY(0deg); opacity: 1; transition: 0.5s;}
.menuWrap ul {display: none;}
.menuWrap.on ul {display: block;}




























